{% extends 'pages/page.html.twig' %}

{% block share_metas %}
    {{ parent() }}
    <link rel="alternate" href="{{ url(nodeSource, {
        '_format': 'xml',
        'page': filters.currentPage,
        'tag': currentTag.tagName,
        'archive': currentArchive
    }) }}" title="{{ pageMeta.title }}" type="application/rss+xml">
{% endblock %}

{% block header_title %}
    <h1 class="page-title">
        {{ nodeSource.title }}
        {% if currentArchiveDateTime %}
            - {{ currentArchiveDateTime|format_date(pattern='MMMM y', locale=app.request.locale) }}
        {% endif %}
        {% if currentTag %}
            - {{ currentTag.translatedTags.first.name }}
        {% endif %}
    </h1>
{% endblock %}

{% block inner_content %}
    <div id="blogpost-nav">
        <div class="container">
            <nav class="blogpost-group-nav">
                <ul>
                    <li {% if not currentTagNames|length %}class="active"{% endif %}>
                        <a {% if not currentTagNames|length %}class="active"{% endif %} href="{{ path(nodeSource) }}">{% trans %}blog.all{% endtrans %}</a>
                    </li>
                    {% if sorts|length %}
                        <li class="hidden-xs hidden-sm">
                            <span class="sort-label">{% trans %}blog.sort_by{% endtrans %}</span>
                            <ul class="sub-menu">
                                {% for sort in sorts %}
                                    <li class="{% if currentSort == sort and currentSortDirection == 'ASC' %}active{% endif %}">
                                        <a class="{% if currentSort == sort and currentSortDirection == 'ASC' %}active{% endif %}"
                                           href="{{ path(nodeSource, {'sort': sort, 'sortDirection': 'ASC'}) }}">{{ ('blog.sort_by_' ~ sort ~ '_asc')|trans }}</a>
                                    </li>
                                    <li class="{% if currentSort == sort and currentSortDirection == 'DESC' %}active{% endif %}">
                                        <a class="{% if currentSort == sort and currentSortDirection == 'DESC' %}active{% endif %}"
                                           href="{{ path(nodeSource, {'sort': sort, 'sortDirection': 'DESC'}) }}">{{ ('blog.sort_by_' ~ sort ~ '_desc')|trans }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% for tag in tags %}
                        <li {% if tag.tagName in currentTagNames %}class="active"{% endif %}>
                            <a {% if tag.tagName in currentTagNames %}class="active"{% endif %}
                               href="{{ path(nodeSource, {tag: tag.tagName}) }}">
                                {{- tag.translatedTags.first.name -}}
                                {% if postsCountForTagId and postsCountForTagId[tag.id] %}
                                    <span class="badge badge-info">({{- postsCountForTagId[tag.id] -}})</span>
                                {%- endif -%}
                            </a>
                        </li>
                    {% endfor %}
                    <li class="hidden-xs hidden-sm">
                        <span class="archives-label">{% trans %}blog.archives{% endtrans %}</span>
                        <ul class="sub-menu">
                            {% for year, months in archives %}
                                {#<a href="{{ path(nodeSource, {archive: year}) }}">{{ year }}</a>#}
                                {% for month, monthDate in months %}
                                    <li class="{% if currentArchive and currentArchive == month %}active{% endif %}">
                                        <a class="{% if currentArchive and currentArchive == month %}active{% endif %}"
                                           href="{{ path(nodeSource, {archive: month}) }}">{{ monthDate|format_date(pattern='MMMM y', locale=app.request.locale) }}</a>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="blogpostcontainer-listing">
        <div class="container">
            {% for post in posts %}
                {#
                 # Page blocks pattern implementation
                 #}
                {% include 'blocks/blogpost.html.twig' ignore missing with {
                    'nodeSource': post,
                    'request': request,
                    'themeServices': themeServices,
                    'head': head,
                    'node': post.node,
                    'nodeType': post.node.nodeType,
                    'loop': loop,
                    'bags': bags,
                } only %}
            {% endfor %}
        </div>
    </div>
    <div class="container">
        {% include 'modules/blog-pagination.html.twig' with {
            'currentFilters': {
                page: filters.currentPage,
                tag: currentTag.tagName,
                archive: currentArchive,
                sort: currentSort,
                sortDirection: currentSortDirection
            },
            'currentPage': filters.currentPage,
            'paginationPath': nodeSource,
            'showAlwaysFirstAndLast': true,
            'lastPage': filters.pageCount
        } only %}
    </div>
{% endblock %}
