{% set blockClassPrefix = nodeType.name|lower %}

{% set blockClasses = [
    'page-block',
    blockClassPrefix
] %}

<article class="row blogpost" itemscope itemtype="http://schema.org/Article">
    <a class="blogpost-element" href="{{ path(nodeSource) }}">
        <meta itemprop="url" content="{{ url(nodeSource) }}">
        <meta itemprop="headline" content="{{ nodeSource.title }}">
        <meta itemprop="author" content="{{ head.siteName }}">
        <meta itemprop="publisher" content="{{ head.siteName }}">
        <div class="{{ blockClassPrefix }}-element-titles {{ blockClassPrefix }}-element-type">
            <time class="text" datetime="{{ nodeSource.publishedAt|date('Y-m-d H:i:s') }}" itemprop="datePublished">{{ nodeSource.publishedAt|localizeddate('medium', 'none') }}</time>
            <h3 class="text" itemprop="name">{{ nodeSource.title }}</h3>
        </div>
        <div class="{{ blockClassPrefix }}-element-excerpt" itemprop="description">
            {{ nodeSource.excerpt|markdown }}
            <p class="ellipsis">{% trans %}read_more{% endtrans %}</p>
        </div>
        <div class="{{ blockClassPrefix }}-element-image>
            {% if nodeSource.image[0] %}
                <meta itemprop="image" content="{{ nodeSource.image[0]|url({ width: 800, absolute: true }) }}">
                {{ nodeSource.image[0]|display({
                    'width': 800
                }) }}
            {% endif %}
        </div>
    </a>
</article>
