{% set blockClassPrefix = nodeType.name|lower %}

{% set blockClasses = [
    'page-block',
    blockClassPrefix
] %}

<div class="{{ blockClasses|join(' ') }}"
     id="block-{{ node.nodeName }}"
     data-index="{{ loop.index0 }}"
     data-node-type="{{ nodeType.name|lower }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-1 col-sm-11 {{ blockClassPrefix }}-titles-content block-titles-content">
                {% if nodeSource.overTitle %}
                    <div class="block-over-title {{ blockClassPrefix }}-over-title">{{ nodeSource.overTitle }}</div>
                {% endif %}
                <h2 class="block-main-title {{ blockClassPrefix }}-title"><a href="{{ path(nodeSource) }}">{{ nodeSource.title }}</a></h2>
            </div>
            <p>{{ highlighting.collection_txt|join('<br>')|raw }}</p>
        </div>
    </div>
</div>
